[submodule "3rdparty/protobuf"]
	path = 3rdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "3rdparty/abseil-cpp"]
	path = 3rdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "3rdparty/capstone"]
	path = 3rdparty/capstone
	url = https://github.com/capstone-engine/capstone
	branch = v5
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/scnlib"]
	path = 3rdparty/scnlib
	url = https://github.com/eliaskosunen/scnlib
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/LIEF"]
	path = 3rdparty/LIEF
	url = https://github.com/lief-project/LIEF
[submodule "3rdparty/argparse"]
	path = 3rdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "3rdparty/type_safe"]
	path = 3rdparty/type_safe
	url = https://github.com/foonathan/type_safe
[submodule "gtirb"]
	path = gtirb
	url = https://github.com/jevinskie/gtirb
	branch = jev/main
[submodule "ddisasm"]
	path = ddisasm
	url = https://github.com/jevinskie/ddisasm
[submodule "3rdparty/zstring_view"]
	path = 3rdparty/zstring_view
	url = https://github.com/jeremy-rifkin/zstring_view
[submodule "3rdparty/enchantum"]
	path = 3rdparty/enchantum
	url = https://github.com/ZXShady/enchantum
[submodule "3rdparty/cpptrace"]
	path = 3rdparty/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace
[submodule "gtirb-pprinter"]
	path = gtirb-pprinter
	url = https://github.com/jevinskie/gtirb-pprinter
[submodule "3rdparty/libassert"]
	path = 3rdparty/libassert
	url = https://github.com/jeremy-rifkin/libassert
[submodule "3rdparty/debug_assert"]
	path = 3rdparty/debug_assert
	url = https://github.com/foonathan/debug_assert
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark
[submodule "3rdparty/fast_float"]
	path = 3rdparty/fast_float
	url = https://github.com/fastfloat/fast_float
[submodule "3rdparty/libdwarf-lite"]
	path = 3rdparty/libdwarf-lite
	url = https://github.com/jeremy-rifkin/libdwarf-lite
[submodule "3rdparty/zstd"]
	path = 3rdparty/zstd
	url = https://github.com/facebook/zstd
